.button {
    display: inline-block;
    padding: 0.5rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    background-color: var(--secondary-color);
    border: none;
    margin-left: auto;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Phones (<= 600px) */
@media only screen and (max-width: 600px) {
    .button {
        padding: 0.4rem 1rem;
        font-size: 0.7rem;
    }
}

/* Tablets (601px to 1024px) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .button {
        padding: 0.5rem 1.25rem;
        font-size: 0.8rem;
    }
}


 
